a {
  text-decoration: none;
}

textarea {
 font-size: 12px;
 font-family: "Courier New","ÇlÇr ÉSÉVÉbÉN";
}

.intbl {
  font-size: 11px;
  font-family: Arial;
  padding: 2px;
  border-style: none;
}

.iname {
  text-align: right;
}

.clear_btn {
  font-size: 10px;
  color: black;
  background-color: #eeeeee;
  border-width: 1px;
  border-style: solid;
  border-color: olive;
  padding-top: 2px;
  padding: 2px;
  line-height: 14px;
  vertical-align: bottom;
  text-decoration: none;
}

